* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
html{
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.ocultar{
    display: none;
}
@keyframes desplazamiento{
    /*inicial*/
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
.titulo{
    background: #7286D3;
    height: 200px;
    width: 100%;
    text-align: center;
    line-height: 200px;
    color: #ffffff;
    border-bottom: 10px solid #fff;
    font-size: 40px;

}
.suptitulos{
    text-align: center;
    font-weight: 300;
    color: #9f8ad0;
    margin-bottom: 40px;
    font-size: 30px;
}
.suptitulo{
    font-weight: 300;
    color: #9f8ad0;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;

}


#contenedor {
    width: 90%;
    margin: auto;
}
.conte{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 20px 0 ;
}
.conte-sevicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}
.conte-sevicio img{
    width: 40%;
    border-radius: 0;
    
}
.chek-servicios{
    width: 45%;
}
.cervice{
    margin-bottom: 20px;
}
.n-sevice{
    margin-bottom: 7px;
    color: #9f8ad0;
}
.nomber{
    display: inline-block;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    width: 30px;
    height: 30px;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}
/*stylos de navegacion*/
.nav-mais{
    display: flex;
    align-items: center;
    background: #E5D9B6;
    box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.45);
    
    /*
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000000;*/

}
@media(min-width:768px ) {
    .hamburguesa{
        display: none; 
         
      }
      .ocultar{
        display: inline;
      }
      .socila p {
        text-align: center;
        font-size: 40px;
        margin-bottom: 20px;
    }
    
     
}

@media (max-width: 768px) {
    .itens{
        position: absolute;
        left: 2rem;
        top: 15.5rem;
        width: 100%;
        animation: desplazamiento .5s ease-in-out;
    }
    .titulo{
        font-size: 27px;
    }
   

}
@media (max-width: 485px) {
    .itens{
        position: absolute;
        left: 1.3rem;
        width: 100%;
    }
    .titulo{
        font-size: 16px;
    }
    .footer h3{
        font-size: 18px;
        justify-items: stretch;
        padding-right: 138px;
    }
    
}
.hamburguesa span{
    width: 5rem;
    height: 1rem;
    border: 3px solid #fff;
    background-color: #000000;
    display: block;

}
.nav-mais ul li{ 
    float: left;
    padding: 0px 40px 0px 70px;
    display: inline-flex;
    line-height: 50px;
}
.nav-mais ul li a{ 

    text-decoration: none;
    color: #181823;
    font-size: 15px; 
}
.nav-mais ul li a:hover{
    background-color: #000000;
    color: #E5D9B6;
}

.contenido {
    float: left;
    padding: 40px;

}

.secciones {
    display:flex;
    align-items: center;
    border-bottom: 1px solid #000000;


}

.article {
    width: 100%;

}

img {

    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;

}

h2 {
    font-size: 30px;
}

/* sosial */

.socila {
    margin: 50px;

}

.socila p {
   
    font-size: 40px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 30px;
}

.links a i {
    font-size: 3rem;
}

.links a i:hover {

    color: #181823;
}

.footer {
    background: #7286D3;
    color: #181823;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
    padding-bottom: 10px;
}

.copy {
    color: #E5E0FF;
}
h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}